body {
    padding: 5px;
    width: 80%;
    text-align: center;
}

.sessions-list td {
    vertical-align: middle;
}

.filters {
    margin-top: 25px;
    margin-bottom: 25px;
}

.filters td {
    padding: 5px;
}

.filters .form-control {
    padding: 3px !important;
    margin: 0px !important;
    height: 100% !important;
}

.custom-select {
    width: 100%;
}

.filters thead {
    text-align: left;
}

.back-message {
    display: block;
    margin-top: 10px;
}